#root {
  width: 100%;
}

.partnerBG {
  background-image: url(./extra.jpg),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.bannerBG {
  background-image: url(./extra.jpg),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.bgFormat {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
